.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 18px;
}

body {
  background-color: aliceblue;
}

/* Makes a visually hidden header title for placeholders, makes it possible for screen readers to read text */
/* (CSS by: https://www.emgoto.com/) */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}