.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 18px;
}

body {
  background-color: aliceblue;
  overflow-x: hidden;
}

/* Makes a visually hidden header title for placeholders, makes it possible for screen readers to read text outside placeholder */
/* (CSS by: https://www.emgoto.com/) */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Makes things that are clickable seem clickable by changing cursor (https://css-tricks.com/snippets/css/give-clickable-elements-a-pointer-cursor/) which helps accessibility */
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}